<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>

    <h2>Advance Invoice</h2>

    <ul>
        {% for item in items %}
        <li>
            {{ item.product.name }}
            - {{ item.product.price }} dollars
            x {{ item.quantity }}
            = <b>{{ item.subtotal }} dollars</b>

            <a href="{% url 'remove' item.product.id %}"
               style="color:red; margin-left:15px;">
               Remove
            </a>
        </li>
        {% endfor %}
    </ul>

    <h3>Total: <b>{{ total }} dollars</b></h3>

    <form method="POST" action="{% url 'confirm' %}">
        {% csrf_token %}
        <button style="padding:10px 20px;">Confirm</button>
    </form>

    <form method="POST" action="{% url 'clear' %}">
        {% csrf_token %}
        <button style="padding:10px 20px; margin-top:10px;">
            Go back
        </button>
    </form>

</body>
</html>
